.App {
  text-align: center;
  padding:0;
  margin:0;
  background-color: #F6F6F6;
}

.App-header {
  background-color: rgb(9, 10, 11, .7);
  min-height: 70px;
  padding: 2em;
  margin-bottom: 4em;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}