.App {
  text-align: center;
  padding:0;
  margin:0;
  background-color: #F6F6F6;
}

.App-header {
  background-color: rgb(9, 10, 11, .7);
  min-height: 70px;
  padding: 2em;
  margin-bottom: 4em;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

main {
  padding-top: 8em;
  padding-bottom: 40em;
  background-image: url(macbook.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0em;
  width: 100%;
  height: 100%;
  /* background-size:stretch; */
  background-color: #F6F6F6;
}